<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Import Playlist</title>
</head>

<body>
    <h1>Import Playlist</h1>
    <p>Authenticated as
    <table>
        <th>Key</th>
        <th>Value</th>
        <tr>
            <td>Display name</td>
            <td>{{ display_name }}</td>
        </tr>
        <tr>
            <td>ID</td>
            <td>{{ user_id }}</td>
        </tr>
    </table>
    </p>
    <p>Upload a JSON file with the playlist data to import.</p>

    <form id="importForm" enctype="multipart/form-data">
        <input type="file" name="file" id="file" accept=".json" required>
        <input type="hidden" name="state" value="{{ session_state }}">
        <input type="submit" value="Import">
    </form>

    <form id="logout" method="POST">
        <input type="submit" value="Logout" />
    </form>

    <h1>Result:</h1>
    <pre><div id="result"></div></pre>

    <script>
        document.getElementById('importForm').onsubmit = async function (event) {
            event.preventDefault();
            const fileInput = document.getElementById('file');
            const file = fileInput.files[0];
            const state = document.querySelector('input[name="state"]').value;
            const formData = new FormData();
            formData.append('file', file);

            const fileContents = await file.text();
            const jsonContents = JSON.parse(fileContents);

            resultArea = document.getElementById('result');
            resultArea.innerText = 'Importing...';

            const response = await fetch(window.location.href.split('/authorized')[0] + '/import', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'state': state
                },
                body: JSON.stringify(jsonContents)
            });

            resultArea.innerText = "Importing...Done";
            const result = await response.json();
            resultArea.innerText = JSON.stringify(result, null, 2);
        };
    </script>

    <script>
        document.getElementById('logout').onsubmit = async function (event) {
            event.preventDefault();
            const state = document.querySelector('input[name="state"]').value;
            resultArea = document.getElementById('result');
            logoutUri = window.location.href.split('/authorized')[0] + '/logout';
            resultArea.innerText = 'Logging out...' + logoutUri;
            const response = await fetch(logoutUri, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'state': state
                }
            });
            resultArea.innerText = 'Logging out...Done';
            if (response.redirected){
                window.location.href = response.url;
            }
        };
    </script>
</body>

</html>